<app-generic-modal-component [title]="'USER_PROFILE.MODAL.FOLLOWERS.TITLE'" subtitle="{{ 'USER_PROFILE.MODAL.FOLLOWERS.SUBTITLE' | translate: { username: data.user.username } }}" [actionButtons]="[]">
    <div class="followers-search">
        <app-basic-input (valueChange)="onSearchChange($event)" iconName="search" />
    </div>
    <div class="followers-list">
        @for(user of users; track user?.id) {
        <app-generic-card-user [user]="user" />
        }
    </div>
</app-generic-modal-component>