:root {
    --color-background: #ffffff;
    --color-surface: #f7f7f7;

    --color-text: #121212;
    --color-text-secondary: #666;

    --color-gray: #5A5A5A;

    --color-border: #e5e5e5;

    --color-primary: #1881E2;
    --color-danger: #FF4D4D;
}