backend/.env
backend/src/Dump.Application/bin
backend/src/Dump.Application/obj
backend/src/Dump.Domain/bin
backend/src/Dump.Domain/obj
backend/src/Dump.Infrastructure/bin
backend/src/Dump.Infrastructure/obj
backend/Dump.API/bin
backend/Dump.API/obj
backend/Dump.API/out
backend/.DS_Store
backend/storage

frontend/client/.angular
frontend/client/.vscode
frontend/client/.cache
frontend/client/.vite
frontend/client/dist
frontend/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_Store