<section class="memories-component">
    <div class="memories-inside">
        <div class="memories-list" [style.width]="width">
            <div class="memorie-card" (click)="handleMyStory()">
                <img [src]="user?.profilePictureUrl || 'assets/app/media/default-avatar.webp'" alt="Meu story" />
                <span>{{!hasMyMemorie ? ("FEED.MEMORIES.ADD" | translate) : ("FEED.MEMORIES.YOURS" | translate)}}</span>
                @if(!hasMyMemorie) {
                <div class="add-icon">+</div>
                }
            </div>
            @for(memorie of memoriesList; track memorie.id) {
                @if(memorie.user.id !== user?.id) {
                <div class="memorie-card">
                    <img [src]="memorie?.user?.profilePictureUrl || 'assets/app/media/default-avatar.webp'" alt="avatar" />
                    <span>{{memorie.user.username}}</span>
                </div>
                }
            }
        </div>
    </div>
</section>