<section class="memories-component">
    <div class="memories-inside">
        <div class="memories-list" [style.width]="'100%'">
            @if(loading) {
                @for (item of [1,2,3,4,5]; track item) {
                <app-skeleton type="story" [width]="'100px'" [height]="'152px'"></app-skeleton>
                }
            } 
            @else {
                @if(showMyMemorie) {
                    <div class="memorie-card" [matMenuTriggerFor]="memorieActionsMenu">
                        <div class="memorie-card-content">
                            @if(hasMyMemorie.length <= 0) {
                                <div class="add-icon">+</div>
                            }
                            @else {
                                <img loading="lazy" decoding="async" [src]="hasMyMemorie[0].stories[0].thumbnail" alt="preview story" />
                            }
                        </div>
                        <div class="profile-content">
                            <app-avatar-item [width]="'48px'" [height]="'48px'" [user]="user" />
                            <span>{{hasMyMemorie.length <= 0 ? ("FEED.MEMORIES.ADD" | translate) : ("FEED.MEMORIES.YOURS" | translate)}}</span>
                        </div>
                    </div>

                    <mat-menu #memorieActionsMenu="matMenu" class="memorie-actions-menu" xPosition="after" yPosition="below">
                            @for(option of optionsMenu; track option.name) {
                                <button type="button" (click)="handleMyStory(option.action)">
                                    <mat-icon>{{option.icon}}</mat-icon>
                                    <span>{{option.name}}</span>
                                </button>
                        }

                    </mat-menu>
                }
        
                @for(group of memoriesList; track group.user?.id) {
                    @if(group?.user?.id !== user?.id) {
                        <div class="memorie-card" (click)="clickStory(group.user.username)">
                            <div class="memorie-card-content">
                                <img loading="lazy" decoding="async" [src]="group.stories[0].thumbnail" alt="preview story" />
                            </div>
                            <div class="profile-content">
                                <app-avatar-item [seenMemorie]="true" [width]="'48px'" [height]="'48px'" [user]="group.user" />
                                <span>{{group.user.username}}</span>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>