<div class="post-title">
    <div class="account-post-detail">
        <app-generic-card-user 
            [user]="user" 
            [theme]="theme" 
            [style.width]="'100%'"
            imageWidth="42px"
            fontSize="14px"
        />
        @if(showOptions) {
        <button (click)="options()" mat-icon-button><mat-icon>more_horiz</mat-icon></button>
        }
    </div>

    <div class="post-media-caption">
        <app-generic-text
            [text]="caption || ''"
            [expandable]="true"
            [maxCharacters]="180"
            [clickableMentions]="true"
            [clickableHashtags]="true"
            [clickableLinks]="true"
        />
    </div>
</div>