<header *ngIf="showHeader" class="header-component">
    <div class="header-component-top">
        <div class="header-component-left desktop">
        </div>
        <div class="header-component-center">
            <a routerLinkActive="active" [routerLink]="'/'">
                <img [src]="logo" alt="Dump Logo" />
            </a>
        </div>
        <div class="header-component-right desktop">
            @if(!isMessagePage) {
            <app-generic-button (onClick)="openMessages()" [label]="!isMobile ? 'HEADER.ACTIONS.CONVERSATIONS' : ''"
                [iconName]="'send'" variant="ghost" padding="8px 12px"></app-generic-button>
            }
            <div class="account-details">
                <a routerLinkActive="active" [routerLink]="'/' + current_user.username">
                    <app-avatar-item width="52px" height="52px" [redirectOnClick]="false" [user]="current_user" />
                </a>
            </div>
        </div>
        <div class="header-component-right mobile">
            @if(!isMessagePage) {
            <app-generic-button (onClick)="openMessages()" [label]="!isMobile ? 'HEADER.ACTIONS.CONVERSATIONS' : ''"
                [iconName]="'send'" variant="ghost" padding="0px 0px" fontSize="24px"></app-generic-button>
            }
            <app-generic-button (onClick)="openNotifications()" [label]="''" [iconName]="'favorite'" variant="ghost"
                padding="0px 0px" fontSize="24px"></app-generic-button>
            <div class="account-details">
                <a routerLinkActive="active" [routerLink]="'/' + current_user.username">
                    <app-avatar-item width="52px" height="52px" [redirectOnClick]="false" [user]="current_user" />
                </a>
            </div>
        </div>
    </div>
</header>

<app-notifications-sidebar *ngIf="panels.notifications" (close)="closePanels()" />