<div class="overlay" (click)="onOverlayClick($event)">

    <div class="search-sidebar" (click)="$event.stopPropagation()">

        <div class="header">
            <h2>{{ 'SIDEBAR.NOTIFICATIONS_SIDEBAR.HEADER' | translate }}</h2>
            <button (click)="handleClose()"><mat-icon>close</mat-icon></button>
        </div>

        <app-basic-input (valueChange)="onSearchChange($event)" />

        <div class="results">

            @if(loading) {
            <app-loader />
            }

            @for(n of notifications; track n.id) {
            <div class="notification-item">
                <app-avatar-item [user]="n?.fromUser" [width]="'52px'" [height]="'52px'"
                    [src]="n?.fromUser?.profilePictureUrl" />

                <div>
                    <span>
                        <b>{{n.fromUser.username }}</b>

                        @if(n.type === 'like') {
                        {{ 'SIDEBAR.NOTIFICATIONS_SIDEBAR.ACTIONS.LIKE' | translate }}
                        }
                        @if(n.type === 'comment') {
                        {{ 'SIDEBAR.NOTIFICATIONS_SIDEBAR.ACTIONS.COMMENT' | translate }}
                        }
                    </span>

                    <small>{{ formatDateToNow(n.createdAt) }}</small>
                </div>

                @if(!n.isRead) {
                <div class="dot"></div>
                }
            </div>
            }


        </div>

    </div>
</div>

<div class="activity-mobile">
    <mat-tab-group class="tabs-inbox" mat-stretch-tabs="true" mat-align-tabs="center"
        (selectedTabChange)="handleMobileTabChange($event.index)">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-label">{{ 'INBOX.ACTIVITY' | translate }}</span>
            </ng-template>
            <div class="search-sidebar" (click)="$event.stopPropagation()">
                <app-basic-input (valueChange)="onSearchChange($event)" />
                <div class="results">
                    @if(loading) {
                    <app-loader />
                    }

                    @for(n of notifications; track n.id) {
                    <div class="notification-item">
                        <app-avatar-item [user]="n?.fromUser" [width]="'52px'" [height]="'52px'"
                            [src]="n?.fromUser?.profilePictureUrl" />

                        <div>
                            <span>
                                <b>{{n.fromUser.username }}</b>

                                @if(n.type === 'like') {
                                {{ 'SIDEBAR.NOTIFICATIONS_SIDEBAR.ACTIONS.LIKE' | translate }}
                                }
                                @if(n.type === 'comment') {
                                {{ 'SIDEBAR.NOTIFICATIONS_SIDEBAR.ACTIONS.COMMENT' | translate }}
                                }
                            </span>

                            <small>{{ formatDateToNow(n.createdAt) }}</small>
                        </div>

                        @if(!n.isRead) {
                        <div class="dot"></div>
                        }
                    </div>
                    }


                </div>

            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-label">{{ 'INBOX.MESSAGES' | translate }}</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>