<section class="sign-in-section">
    <div class="sign-in-left-side">
        <div class="sign-in-left-side-image-container">
            <img [src]="sideImage" alt="Sign In Image" class="sign-in-left-side-image">
        </div>
    </div>
    <div class="sign-in-right-side">
        <div></div>
        <div class="sign-in-right-side-container">
            <div class="sign-in-right-side-logo">
                <img [src]="logo" alt="Logo" />
            </div>
            <div class="sign-in-right-side-message">
                <span>{{ 'AUTH.HIGHLIGHT_MESSAGE' | translate }} <span class="hightlight-message">{{
                        'AUTH.HIGHLIGHT_MESSAGE_2' | translate }}</span></span>
            </div>
            <div class="sign-in-right-side-join-google">
                @if(pageType !== "forgotpassword") {
                    <app-generic-button [disabled]="true" [width]="'100%'" [padding]="'12px'" [label]="'AUTH.GOOGLE_SIGN_IN'" variant="secondary" [logoIcon]="googleIcon" iconName="google" ></app-generic-button>
                }
            </div>
            <div class="separator"></div>
            <div class="sign-in-form-container">
                <span class="title-section">{{ pageType !== 'forgotpassword' ? ('AUTH.JOIN_DUMP' | translate) : ('AUTH.FORGOT_PASSWORD' | translate) }}</span>
                <div class="sign-in-form-inputs">
                    @for(field of fields; track field) {
                    <app-basic-input [(ngModel)]="inputs[field.name]" [label]="field.label" [type]="field.type"
                        [required]="field.required" [maxLength]="field.maxLength" [minLength]="field.minLength">
                    </app-basic-input>
                    }
                </div>
            </div>
            <div class="btn-container">
                <app-generic-button
                    [width]="'100%'"
                    [padding]="'12px'"
                    [disabled]="isButtonDisabled()"
                    [loading]="loading"
                    (click)="handlePressSign()"
                    [label]="pageType === 'signin' ? 'AUTH.BUTTONS.SIGN_IN' : (pageType === 'forgotpassword' ? 'AUTH.BUTTONS.CONTINUE' : 'AUTH.BUTTONS.SIGN_UP')">
                </app-generic-button>
                <div class="btn-container-secondary">
                    @if(pageType === 'signin') {
                    <app-generic-button [variant]="'ghost'" [padding]="'0px'" (click)="redirectPage(true)" [label]="'AUTH.BUTTONS.FORGOT_PASSWORD' | translate"></app-generic-button>
                    <app-generic-button [variant]="'ghost'" [padding]="'0px'" (click)="redirectPage()" [label]="'AUTH.BUTTONS.SIGN_UP' | translate"></app-generic-button>
                    } @else {
                        <app-generic-button [variant]="'ghost'" [padding]="'0px'" (click)="redirectPage()" [label]="'AUTH.BUTTONS.SIGN_IN_ALREADY_HAVE_ACCOUNT' | translate" />
                    }
                </div>
            </div>
        </div>
        <app-footer-auth />
    </div>
</section>