<section class="create-post">
    <div class="create-post__inside">
        <div class="create-post__header">
            <h1>{{ 'CREATE_POST.HEADER' | translate }}</h1>
            <button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div 
          class="create-post__drop-files"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          [class.dragging]="isDragging"
          *ngIf="!files || files.length == 0"
        >
            <input 
              #fileInput 
              type="file" 
              multiple 
              accept="image/*,video/*" 
              hidden 
              (change)="onFileSelected($event)" 
            />

            <img src="/assets/app/media/undraw_upload_cucu.svg" alt />
            <p>{{ 'IMAGE_DRAG_AND_DROP.INSTRUCTION' | translate }}</p>

            
                <app-generic-button
                    label="IMAGE_DRAG_AND_DROP.BUTTON"
                    (onClick)="fileInput.click()"
                    padding="10px 16px"
                    marginY="12px"
                    width="312px"
                ></app-generic-button>
            

            <div *ngIf="files.length > 0" class="preview">
                <p>{{ 'IMAGE_DRAG_AND_DROP.SELECTED' | translate:{ count: files.length } }}</p>
            </div>
        </div>
        <app-create-post-general-component *ngIf="files.length > 0" [files]="files" />
    </div>
</section>