.create-new-post {

    &__inside {
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex-direction: row;
        gap: 12px;
    }

    &__photo-content {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__details {
        width: 50%;

        button {
            background-color: #1881E2;
            color: white;
            outline: none;
            cursor: pointer;
            border-radius: 12px;
            width: 100%;
            padding: 12px;
            border: none;
            margin: 12px 0px;
        }
    }
}