<app-generic-modal-component [title]="'USER_PROFILE.EDIT_PROFILE.HEADER'" [height]="'95vh'"
    [subtitle]="`USER_PROFILE.EDIT_PROFILE.SUBTITLE`" [actionButtons]="actionButtons">
    <!-- SIDEBAR -->
     <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-label" [fontSet]="'material-symbols-rounded'">person</mat-icon>
                <span class="tab-label">{{'USER_PROFILE.EDIT_PROFILE.TABS.PROFILE' | translate}}</span>
            </ng-template>
            <!-- CONTENT -->
            <div class="profile-edit__content">
            
                <!-- AVATAR -->
                <div class="avatar-section">
                    <div class="avatar">
                        <app-avatar-item [redirectOnClick]="false" [user]="current_user" [src]="current_user.profilePictureUrl"
                            [seenMemorie]="true" redirectURL="" [width]="'100px'" [height]="'100px'" />
                    </div>
            
                    <div class="avatar-actions">
                        <app-generic-button label="USER_PROFILE.EDIT_PROFILE.FORM.AVATAR.CHANGE" [isFile]="true"
                            (fileSelected)="onFileSelected($event)" />
                        <app-generic-button label="USER_PROFILE.EDIT_PROFILE.FORM.AVATAR.REMOVE" variant="ghost" textColor="black"
                            (onClick)="removeImage()" />
                    </div>
                </div>
            
                <!-- FORM -->
                <div class="form">
                    <div class="form-group">
                        <label>{{'USER_PROFILE.EDIT_PROFILE.FORM.NAME' | translate}}</label>
                        <app-basic-input label="USER_PROFILE.EDIT_PROFILE.FORM.NAME_PLACEHOLDER"
                            [value]="current_user?.fullName || ''" (valueChange)="current_user.fullName = $event" />
                    </div>
            
                    <div class="form-group">
                        <label>{{'USER_PROFILE.EDIT_PROFILE.FORM.USERNAME' | translate}}</label>
                        <app-basic-input label="USER_PROFILE.EDIT_PROFILE.FORM.USERNAME_PLACEHOLDER"
                            [value]="current_user?.username || ''" (valueChange)="current_user.username = $event" />
                    </div>
            
                    <div class="form-group">
                        <label>{{'USER_PROFILE.EDIT_PROFILE.FORM.BIO' | translate}}</label>
                        <app-basic-input label="USER_PROFILE.EDIT_PROFILE.FORM.BIO_PLACEHOLDER" type="textarea" [resizableY]="true"
                            [value]="current_user?.bio || ''" (valueChange)="current_user.bio = $event" />
                    </div>
            
                    <div class="form-group">
                        <label>{{'USER_PROFILE.EDIT_PROFILE.FORM.WEBSITE' | translate}}</label>
                        <app-basic-input label="USER_PROFILE.EDIT_PROFILE.FORM.WEBSITE_PLACEHOLDER"
                            [value]="current_user?.website || ''" (valueChange)="current_user.website = $event" />
                    </div>
            
                    <div class="form-group">
                        <label>{{'USER_PROFILE.EDIT_PROFILE.FORM.GENDER' | translate}}</label>
            
                        <app-select-input label="USER_PROFILE.EDIT_PROFILE.FORM.GENDER" [options]="[
                                            { label: 'USER_PROFILE.EDIT_PROFILE.FORM.GENDER_OPTIONS.MALE', value: 'male' },
                                            { label: 'USER_PROFILE.EDIT_PROFILE.FORM.GENDER_OPTIONS.FEMALE', value: 'female' },
                                            { label: 'USER_PROFILE.EDIT_PROFILE.FORM.GENDER_OPTIONS.OTHER', value: 'other' },
                                            { label: 'USER_PROFILE.EDIT_PROFILE.FORM.GENDER_OPTIONS.PREFER_NOT_TO_SAY', value: 'prefer_not_to_say' }
                                        ]" [searchable]="false" [selected]="current_user.gender" [placeholder]="''"
                            (valueChange)="current_user.gender = $event" />
            
                        <small>{{'USER_PROFILE.EDIT_PROFILE.FORM.WARNING_GENDER' | translate}}</small>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-label" [fontSet]="'material-symbols-rounded'">settings</mat-icon>
                <span class="tab-label">{{'USER_PROFILE.EDIT_PROFILE.TABS.SETTINGS' | translate}}</span>
            </ng-template>

                <!-- CONTENT -->
                <div class="profile-edit__content">
                    <div class="form">
                        <div class="form-group">
                            <app-theme-menu [backButton]="false" />
                        </div>
                    </div>
                </div>
        </mat-tab>
    </mat-tab-group>
</app-generic-modal-component>