<div
    class="generic-text"
    [class.light]="(!textColor || textColor === 'none') && theme === 'light'"
    [class.dark]="(!textColor || textColor === 'none') && theme === 'dark'"
    [style.color]="textColor && textColor !== 'none' ? textColor : null">

    <div
        class="generic-text__content"
        [innerHTML]="renderedHtml">
    </div>

    @if(expandable && isLongText) {

        <button
            class="generic-text__expand"
            (click)="toggleExpanded()">

            {{ expanded ? 'Ver menos' : 'Ver mais' }}

        </button>
    }

</div>