<div class="messages">
  @if(isMobile) {
  @if(!selectedConversation) {
  <!-- SIDEBAR -->
  <app-messages-sidebar (onSelectUser)="selectedConversation = $event" />
  }

  @if(selectedConversation) {
  <!-- CHAT -->
  <app-messages-chat [conversation]="selectedConversation" style="width: 100%;" />
  }
  }
  @else {
  <!-- SIDEBAR -->
  <app-messages-sidebar (onSelectUser)="selectedConversation = $event" />

  <!-- CHAT -->
  <app-messages-chat [conversation]="selectedConversation" style="width: 100%;" />
  }
</div>