<label *ngIf="isFile" class="generic-button-wrapper">
    <input type="file" [accept]="accept" hidden (change)="onFileChange($event)" />

    <div class="generic-button"
        [class.generic-button--ghost]="variant === 'ghost'"
        [class.generic-button--secondary]="variant === 'secondary'"
        type="button"

        [style.backgroundColor]="variant === 'ghost' || variant === 'secondary' ? 'transparent' : backgroundColor"
        [style.color]="textColor"
        [style.width]="width"
        [style.padding]="padding"
        [style.borderRadius]="borderRadius"
        [style.fontSize]="fontSize"
        [style.marginTop]="marginY"
        [style.marginBottom]="marginY">

        <ng-container *ngIf="loading; else notLoadingFile">
            <app-loader width="16px" height="16px" [theme]="textColor === '#ffffff' ? 'light' : 'dark'"></app-loader>
        </ng-container>
        <ng-template #notLoadingFile>
            <ng-container *ngIf="iconName">
                <mat-icon [style.fontSize]="fontSize" class="generic-button__icon">{{ iconName }}</mat-icon>
            </ng-container>
            <ng-container *ngIf="logoIcon">
                <img [src]="logoIcon" alt="Button Icon" class="generic-button__icon" />
            </ng-container>
            <ng-container *ngIf="label != ''">
                <span class="generic-button__label">{{ label | translate }}</span>
            </ng-container>
        </ng-template>
    </div>
</label>

<button *ngIf="!isFile"
    class="generic-button"
    [class.generic-button--ghost]="variant === 'ghost'"
    [class.generic-button--secondary]="variant === 'secondary'"
    [attr.type]="type"
    [disabled]="disabled || loading"
    (click)="handleClick()"
    [style.backgroundColor]="variant === 'ghost' || variant === 'secondary' ? 'transparent' : backgroundColor"
    [style.color]="textColor"
    [style.width]="width"
    [style.padding]="padding"
    [style.borderRadius]="borderRadius"
    [style.fontSize]="fontSize"
    [style.marginTop]="marginY"
    [style.marginBottom]="marginY"
    [title]="label | translate"
>

    <ng-container *ngIf="loading; else notLoadingButton">
        <app-loader width="16px" height="16px" [theme]="textColor === '#ffffff' ? 'light' : 'dark'"></app-loader>
    </ng-container>
    <ng-template #notLoadingButton>
        <ng-container *ngIf="iconName">
            <mat-icon [style.fontSize]="fontSize" [fontSet]="'material-symbols-rounded'" class="generic-button__icon">{{ iconName }}</mat-icon>
        </ng-container>
        <ng-container *ngIf="logoIcon">
            <img [src]="logoIcon" alt="Button Icon" class="generic-button__icon" />
        </ng-container>
        <ng-container *ngIf="label != ''">
            <span class="generic-button__label">{{ label | translate }}</span>
        </ng-container>
    </ng-template>
</button>