<section #chatBody class="messages__chat" *ngIf="conversation?.id">
    <header class="chat__header">
        <div class="chat__user">
            @if(isMobile) {
            <ng-container>
                <button (click)="closeConversation()" mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
            </ng-container>
            }
            <div class="chat__image-user">
                <img [src]="getConversationAvatar()" />
                <span class="online-dot" *ngIf="isUserOnline(conversation.participants[0])">
                </span>
            </div>
            <div>
                <p>{{ getConversationName() }}</p>
                <span>{{ getConversationUser() }}</span>
            </div>
        </div>

        <div class="chat__actions">
            <button id="call" (click)="openAudioCall()" [attr.aria-label]="'MESSAGES_INBOX.CHAT.CALL.AUDIO' | translate">
                <mat-icon [fontSet]="'material-symbols-rounded'">phone</mat-icon>
            </button>
            <button id="video-call" (click)="openVideoCall()" [attr.aria-label]="'MESSAGES_INBOX.CHAT.CALL.VIDEO' | translate">
                <mat-icon [fontSet]="'material-symbols-rounded'">videocam</mat-icon>
            </button>
            <button id="info" [attr.aria-label]="'MESSAGES_INBOX.CHAT.ACTIONS.INFO' | translate">
                <mat-icon [fontSet]="'material-symbols-rounded'">info</mat-icon>
            </button>
        </div>
    </header>

    <div #scrollContainer class="chat__body" style="scroll-behavior: smooth;">
        <ng-container *ngFor="let msg of messages; let i = index">
            <div class="message-date-separator" *ngIf="shouldShowDateSeparator(msg, i)">
                <span>{{ getDateSeparatorLabel(msg) }}</span>
            </div>

            <div class="message" [class.me]="msg?.sender?.id === current_user?.id">

            @if(msg?.sender?.id != current_user?.id) {
            <img class="message__avatar" [alt]="'MESSAGES_INBOX.CHAT.MEDIA.AVATAR_ALT' | translate"
                [src]="getUserById(msg?.sender?.id)?.profilePictureUrl || 'assets/app/media/default-avatar.webp'" />
            }

            <div class="message__content">
                <span *ngIf="isGroup && msg?.sender?.id !== current_user?.id" class="message__name">
                    {{ getUserById(msg?.sender?.id)?.fullName }}
                </span>

                <app-message-renderer [message]="msg" [isMine]="msg?.sender?.id === current_user?.id">
                </app-message-renderer>
                <span class="message__status" *ngIf="i === messages.length - 1 && msg?.sender?.id === current_user?.id">
                    {{ getMessageStatus(msg) | translate}}
                </span>

                <button *ngIf="msg.status === 'error'" (click)="sendMessage()" class="retry-btn">
                    {{'MESSAGES_INBOX.CHAT.BUTTON.RESEND' | translate}}
                </button>
            </div>

            @if(msg?.sender?.id == current_user?.id) {
            <img class="message__avatar"
                [src]="getUserById(msg?.sender?.id)?.profilePictureUrl || 'assets/app/media/default-avatar.webp'" [alt]="'MESSAGES_INBOX.CHAT.MEDIA.AVATAR_ALT' | translate" />
            }
        </div>
        </ng-container>
        <div class="typing" *ngIf="typingUsers.size > 0">
            <div class="loader"></div>
        </div>
    </div>

    <app-message-composer-component
        (send)="handleComposerSend($event)"
        (typing)="onTyping()"
        (stopTyping)="onStopTyping()">
    </app-message-composer-component>
</section>

<section class="no_chat__screen" *ngIf="!conversation?.id">
    <div class="no_chat__content">
        <img [src]="ilustrationDirect" [alt]="'MESSAGES_INBOX.NOT_SELECTED.ILLUSTRATION_ALT' | translate" />
        <h2>{{'MESSAGES_INBOX.NOT_SELECTED.TITLE' | translate}}</h2>
        <p>{{'MESSAGES_INBOX.NOT_SELECTED.SUBTITLE' | translate}}</p>
        <app-generic-button label="{{'MESSAGES_INBOX.NOT_SELECTED.BUTTON' | translate}}"
            (onClick)="openCreateConversations()" marginY="12px" />
    </div>
</section>