@use '../../../../styles/variables.scss' as variable;

footer {
    margin-bottom: 48px;
}

.fast-links {
    display: flex;
    gap: 6px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px 0px;

    button {
        background-color: transparent;
        // color: var(--color-gray);
        color: var(--color-text-secondary);
        border: none;
        cursor: pointer;
        font-size: 14px;
    }

}

.separator {
    width: 100%;
    height: 1px;
    background: var(--color-gray);
    margin: 12px 0px;
}

.footer-bottom {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;

    select {
        border: none;
        cursor: pointer;
        outline: none;
        color: var(--color-text-secondary);
        background-color: transparent;
    }

    span {
        font-size: 14px;
        text-align: center;
        color: var(--color-text-secondary);
    }
}