<div class="post-media">

    @if(media.length === 1) {

    @if(media[0].type === 'image') {
    <div class="media-container">

        @if(isLoading) {
        <div class="media-skeleton"></div>
        }

        <img 
            [src]="media[0].url" 
            alt="Post"
            (load)="onMediaLoad()"
            [class.loaded]="!isLoading"
        />

    </div>
    }

    @if(media[0].type === 'video') {
    <app-video-dump [src]="media[0].url" />
    }

    } @else {
    <app-post-carousel [media]="media" />
    }

</div>