<div class="post-media" (pointerup)="handleTap()">

    @if(media.length === 1) {

    @if(media[0].type === 'image') {
    <div class="media-container">

        @if(isLoading) {
        <div class="media-skeleton"></div>
        }

        <img 
            loading="lazy"
            [src]="isLoading ? (media[0].thumbnail || media[0].url) : media[0].url" 
            alt="Post"
            (load)="onMediaLoad()"
            [class.loaded]="!isLoading"
        />

    </div>
    }

    @if(media[0].type === 'video') {
    <app-video-dump 
        #videoPlayer
        [src]="media[0].url" 
        [thumbnail]="media[0].thumbnail" 
    />
    }

    } @else {
    <app-post-carousel [media]="media" />
    }

    <!-- Double tap like animation -->
    <div class="like-burst" *ngIf="showLike">❤️</div>
    <div class="like-burst" *ngIf="showDislike">💔</div>

</div>