<aside class="messages__sidebar">
    <div class="messages__header">
        <div class="messages__header-top">
            <h2>Mensagens</h2>
            <div class="messages__actions">
                <button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div class="messages__search">
            <input type="text" placeholder="Buscar" />
        </div>

        <div class="messages__tabs">
            <span class="active">Conversas</span>
            <span>Comunidades</span>
        </div>
    </div>

    <div class="messages__list">
        @for(convo of relatedUsers; track convo.id) {
            <div class="conversation" 
                 [class.active]="convo.active"
                 (click)="onSelect(convo)">
                <img [src]="convo.profilePictureUrl || '/assets/app/media/default-avatar.webp'" alt="{{ convo.fullName }}"/>

                <div class="conversation__content">
                    <div class="conversation__top">
                        <span class="name">{{ convo.fullName }}</span>
                        <span class="time">Ativo agora</span>
                    </div>

                    <span class="last">Nenhuma mensagem</span>
                </div>
            </div>
        }
    </div>
</aside>