<aside class="messages__sidebar">
    <div class="messages__header">
        <div class="messages__header-top">
            <h2>Mensagens</h2>
            <div class="messages__actions">
                <button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <button (click)="clickCreateConversation()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="messages__search">
            <input type="text" placeholder="Buscar" />
        </div>

        <div class="messages__tabs">
            <span class="active">Conversas</span>
            <span>Comunidades</span>
        </div>
    </div>

    <div class="messages__list">
        @for (convo of ((conversations$ | async) ?? []); track convo.id) {
            <app-conversation-item [convo]="convo" [currentUser]="current_user" [typingMap]="typing$ | async" variant="default"
                (clicked)="onSelect(convo)"></app-conversation-item>

           
        }
    </div>
</aside>