<div class="top-loader" [class.active]="routeLoading"></div>
<!-- splash screen -->
<div #splashScreen class="m-splash-screen">
  <div class="splash-container">
    <img [src]="splashScreenImage" alt="Splash" class="splash-logo" />
  </div>
</div>
@if(!WHITE_LIST_ROUTES.includes(window.location.pathname)) {
  <!-- LATERAL BARRA -->
  
  <app-sidebar-component />
  
  <!-- HEADER -->
  <app-header [width]="width" />
  <main class="dump_content">
    <aside class="dump_content_aside" [style.width]="width" [style.margin]="'auto'">
      @if(!routeLoading) {
        <router-outlet />
      }
    </aside>
    <app-notification></app-notification>
  </main>
}
@else {
  @if(!routeLoading) {
    <router-outlet />
  }
}